backend/bin/
backend/obj/
backend/Tests/**/bin/
backend/Tests/**/obj/

frontend/src/**/*.js
frontend/src/**/*.js.map
frontend/node_modules/
frontend/dist/

.DS_Store
.vscode/
*.user
*.suo
*.log
.vs/
*.swp
*~
*.tmp


